extends ../layout

block content
  form(method='POST')
    legend Sign In
      a.lol.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
